body {
    font-family: sans-serif;
}

        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #ffdb79;
            color: #333;
        }
        header {
            background-color: #2c3e50;
            color: white;
            padding: 20px 0;
            text-align: center;
        }
        h1 {
            margin: 0;
        }
        .container {
            width: 80%;
            margin: 20px auto;
        }
        .service-list {
            list-style: none;
            padding: 0;
        }
        .service-item {
            background-color: white;
            margin: 10px 0;
            padding: 15px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .service-item h3 {
            margin-top: 0;
            color: #2c3e50;
        }
        footer {
            background-color: #2c3e50;
            color: white;
            text-align: center;
            padding: 0px ;
            position: fixed;
            width: 100%;
            bottom: 0;
        }
.video{
display: flex;
}
 
